<!-- <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %> 

<%= render "users/shared/links" %> -->

<div class="main-container no-sidebar">
    <div class="container">
      <div class="main-content">
        <div class="page-title">
          <h3>MINHA CONTA</h3>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name),validate: true ) do |f| %>
              <div class="form-checkout">
                <h5 class="form-title">JÁ SOU CADASTRADO</h5>
                <p>
                <h6 class="form">Email</h6>
                <%= f.email_field :email, autofocus: true, style: "width: 800px;" %> 
                </p>
                <p>
                <h6 class="form">Senha</h6>
                <%= f.password_field :password, autocomplete: "off", style: "width: 800px;" %>
                <a class="newsletter-info" href="recupera">Esqueci a senha</a>
                </p>
                <div>
                  <%= f.submit "ENTRAR" %>
                  </div>
              </div>
              <% if alert %>
                <div class="alert-danger"><%= alert %></div>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-6">
            <form id="NovoCadastro" action="register" method="get">
              <div class="newsletter style2">
                <div class="section-title text-center">
                  <h3>QUERO ME CADASTRAR</h3>
                </div>
                <i class="newsletter-info">Cadastre-se e tenha acesso as
                  nossas Promoções &amp; Novidades</i> <input id="cadastroBtn"
                  type="submit" class="button" value="CADASTRAR">
              </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>